.active span::after {
  content: '';
  width: 26px;
  height: 2px;
  background-color: burlywood;
  position: absolute;
  right: 25px;
  bottom: 0;
}

.active span {
  position: relative;
}

.lang-bar::before {
  content: '';
  width: 3px;
  height: 24px;
  left: -12px;
  border-radius: 10px;
  position: absolute;
  background: rgba(107, 114, 128);
}

h1,
p {
  padding: 1rem;
  text-align: justify;
  line-height: 1.623;
  padding: 0.6rem;
  font-size: large;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: center;
}

table {
  margin-top: 40px;
}

td {
  padding: 20px;
}

.Banner {
  background-size: 830px;
}

@media only screen and (max-width: 768px) {
  .Banner {
    background-size: 600px;
  }
  p,
  h1 {
    padding: 5px 0 20px 0;
  }
}
